.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient(to top right, hotpink, orange);
    z-index: -2;
}

#slider {
    overflow:hidden;
    display: flex;
    width: 600px;
    height: 400px;
    justify-content: space-between;
    transition-duration: .3s;
    transition-timing-function: ease-in-out;
    border-radius: 30px;
    box-shadow: 0 0 30px black;
    background-position: center;
}

.arrow {
    display: flex;
    width: 45px;
    height: 65px;
    background-color: transparent;
    opacity: .8;
    align-self: center;
    transition-duration: .5s;
    align-content: center;
    justify-content: center;
    border-radius: 0 15px 15px 0;
    color: black;
    font-size: 45px;
    font-weight: bold;
}

.arrow:hover {
    transition-duration: .5s;
    opacity: .6;
    cursor: pointer;
    background-color: black;
    color: white;
}

.arrow:active {
    opacity: 1;
}

.right {
    justify-self: right;
    border-radius: 20px 0 0 20px;
    right: 0;
}

.round {
    width: 20px;
    height: 20px;
    border: 1px solid black;
    border-radius: 50%;
    background: black;
    opacity: .5;
    margin: 10px 4px;
    transition-duration: .3s;
    box-shadow: 0 3px 5px black;
}

.round:hover {
    cursor: pointer;
}

.active {
    opacity: .8;
    width: 40px;
    border-radius: 20px;
}

.loading {
    z-index: -1;
    color: black;
    font-size: 70px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-shadow: 0 0 20px white;
    margin-top: 160px;
}
